body {
    background-color: #484848;
}
.card {
    background-color: white;
    display: block;
    width: 60%;
    padding: 20px 20px 5px 20px;
    margin: 50px auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    overflow: auto;
}

form {
    margin: 0;
}
fieldset {
    margin: 5px 0;
    border: 1px solid #9f9f9f;
}
legend {
    font-weight: 300;
    font-size: 1.2em;
    margin-left: 20px;
}
.input {
    display: block;
    width: 100%;
    margin: 10px 0;
    float: left;
}
label {
    display: block;
    margin-bottom: 7px;
    font-weight: 600;
    color: #383838;
}
input, textarea {
    border: 1px solid #d1d1d1;
    font-family: monospace;
    padding: 5px;
    outline: none;
    width: 100%;
}
input:focus, textarea:focus {
    border: 2px solid #33cc99; 
    padding: 4px;
}
textarea {
    resize: vertical;
    height: 200px;
}
#save {
    background-color: #33cc99;
    border: 2px solid #33cc99;
    display: block;
    margin: 0 auto;
    padding: 8px 50px;
    color: white;
    font-size: 1.2em;
    transition: all 500ms ease;
    font-family: 'Roboto', sans-serif;
    width: 200px;
}
#save:hover {
    color: #33cc99;
    border: 2px solid #33cc99;
    background-color: white;
}

#link {
    width: 400px;
    text-align: center;
    margin: 0 auto 100px;
    font-weight: 300;
    display: block;
    font-weight: 300;
    font-size: 28px;
    line-height: 0;
}
#link img {
    height: 20px;
    width: auto;
    opacity: 0.5;
    padding: 6px 6px 0 0;
}
#link a {
    color: #9f9f9f;
}
#link:hover a {
    color: #d1d1d1;
}
#link:hover img {
    opacity: 0.8;
}

/* admin-navbar */

#navbar {
    background-color: white;
    display: block;
    width: 60%;
    padding: 5px 20px 5px 20px;
    margin: 50px auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    overflow: auto;
}
#admin-title {
    margin: 0;
    float: left;
    font-weight: 600;
    padding-top: 6px;
}
nav ul {
    padding: 0;
    list-style: none;
    display: inline;
    float: right;
}
nav ul li {
    display: inline;
    padding: 0px 5px;
}

#navbar a, a:visited, a:link, a:active {
    color: #484848;
}
#navbar a:hover {
    color: #9f9f9f;
}

@media only screen and (max-width: 700px) { /*breakpoint nav vertical*/
    #navbar {
        padding: 5px 20px 10px 20px;
    }
    #admin-title {
        display: block;
        width: 100%;
        padding-bottom: 5px;
    }
    nav ul {
        float: none;
    }
    nav ul li {
        display: block;
        padding: 0;
    }
    
}