#addpost {
    padding: 15px 20px;
}
#addpost a {
    font-size: 1.2em;
    transition: all 200ms ease;
}
#addpost a:hover {
    color: #33cc99;
}
#range label, #range input {
    position: relative;
    top: -10px;
}
#from, #to {
    width: 80px;
    margin: 0 5px;
}
#range label {
    display: inline;
    font-size: 1.2em;
    font-weight: 500;
    color: #484848;
}
#range {
    padding: 15px 20px;
    height: 54px;
    overflow: hidden;
}
#posfix {
    position: relative;
    display: inline;
    top: 10px;
    left: -32px;
}
#refresh {
    width: 28px;
    height: 28px;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
}
#refresh:hover {
    cursor: pointer;
}
#arrows {
    height: 28px;
}
#arrows img {
    height: 28px;
    position: relative;
    top: -10px;
    left: 32px;
    opacity: 0.7;
}
#posfix:hover {
    opacity: 0.7;
}
table {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;
}
th {
    text-align: left;
}
th, td {
    border-bottom: 1px solid #d1d1d1;
    padding: 7px 0;
}
td:nth-child(2), th:nth-child(2) {
    width: 80px;
}
td:nth-child(3), th:nth-child(3) {
    width: 100px;
}
td:nth-child(4), th:nth-child(4) {
    width: 100px;
}
td:nth-child(5), th:nth-child(5) {
    width: 30px;
}
td:nth-child(6), th:nth-child(6) {
    width: 27px;
    position: relative;
}
td:nth-child(6) input {
    opacity: 0;
}
td:nth-child(6) img {
    position: absolute;
    left: 0px;
    top: 11px;
}
table img {
    height: 1em;
}
table input:hover {
    cursor: pointer;
}
table a:hover {
    color: #33cc99;
}