/* fonts für gesamte website importieren */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 500px;
    background-color: #ededed;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

::selection {
    color: #ffffff; 
    background-color: rgba(0,0,0,0.5);
}

/* bug bei floats/divs beheben */
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.card {
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}