body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 500px;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

::selection {
    color: #ffffff; 
    background-color: rgba(0,0,0,0.5);
}